/* Limpar formatações padrão */
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: rgb(214, 213, 213);
}

/* Layout */

#area_cabecalho {
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

#area_logo, #area_menu {
    padding: 10px;
}

#area_principal {
    width: 920px;
    margin: 0 auto;
}

#area_postagens {
    background: white;
    width: 660px;
    float: left;
}

#area_lateral {
    background: white;
    width: 240px;
    float: right;
}

#rodape {
    clear: both;
    background: rgb(173, 173, 173);
    text-align: center;
    padding: 15px;
}

.postagem {
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}


/* Formatações em Geral */

h1 {
    color: #4e4e4e;
}

.branco {
    color: white;
}

/* Formatações do Menu */

a {
    text-decoration: none;
    padding: 12px;
}

a:link, a:visited {
    color: white;
}

a:hover {
    color: #f7b600;
    background-color: white;
}

