/* Limpar formatações padrão */
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: rgb(214, 213, 213);
}

/* Layout */

#area_cabecalho {
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

#area_logo, #area_menu {
    padding: 10px;
}

#area_principal {
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#area_postagens {
    background: white;
    width: 660px;
    float: left;
}

#area_lateral {
    width: 240px;
    float: right;
}

#rodape {
    clear: both;
    background: rgb(173, 173, 173);
    text-align: center;
    padding: 15px;
}

.postagem {
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

.conteudo_lateral {
    background: white;
    padding: 10px;
    margin-bottom: 20px;
}

.postagem_lateral {
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 1px dotted #ccc;
}

/* Formatações em Geral */

h1 {
    color: #4e4e4e;
}

h2 {
    color: #f7b600;
}

h3 {
    color: #4e4e4e;
    background: #ccc;
    padding: 5px;
}

p {
    margin-bottom: 10px;
}

.branco {
    color: white;
}

.data_postagem {
    font-size: 0.8em;
    margin-bottom: 10px;
    margin-top: 10px;
    display: block;
}


/* Formatações do Menu */

a {
    text-decoration: none;
    padding: 12px;
}

a:link, a:visited{
    color: #f7b600;
    padding: 5px;
    margin-top: 5px;
}

.postagem a:link, .postagem a:visited {
    color: white;
    background-color: #f7b600;
    margin-top: 10px;
    display: block;
    width: 70px;
    text-align: center;
}

.postagem a:hover {
    color: #f7b600;
    background-color: white;
    
}

#area_cabecalho a:link, #area_cabecalho a:visited {
    color: white;
}

#area_cabecalho a:hover {
    color: #f7b600;
    background-color: white;
}

